* {
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(to bottom, #fff, #fdfdb5);
}

.tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}
.tagline .logo {
  height: 96px;
  width: auto;
}
.ceremonial {
  padding: 12px 36px;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: center;
}
.ceremonial h2,
li,
p {
  font-size: 18px;
}
.ceremonial .trophy img {
  height: 728px;
  width: Auto;
}
.ceremonial .ceremonial_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
}
.ceremonial .ceremonial_details img {
  width: 100%;
}
.pumps {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 0 12px;
}
.pumps p,
li {
  font-size: 16px;
  font-weight: 400;
}
.pumps img {
  width: 80%;
  height: auto;
}
.pumps ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
hr {
  border: 1px solid rgb(191, 12, 12);
  width: 100%;
}
.Products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px 12px;
}
.Products h3,
p {
  font-size: 16px;
}
.Products p {
  white-space: nowrap;
}
.Products .products_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Products .product {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Products .product h3 {
  color: rgb(212, 40, 40);
  font-weight: bolder;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(212, 40, 40);
  padding: 24px 12px;
  padding-bottom: 48px;
  margin: 4px 4px 0;
}
.footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #fff;
}
.footer .icons a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .ceremonial {
    flex-wrap: wrap;
  }
  .ceremonial .trophy img {
    height: 400px;
  }
  .ceremonial .ceremonial_details img {
    width: 100%;
    height: auto;
  }
  .Products .products_container {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
    align-items: flex-start;
  }
}
